<div *ngIf="contributedNode && robotSettings && waypointVariables && fieldValidation" class="inline-component">
    <ur-dropdown
        [label]="'presenter.move-to.label.move_type' | translate"
        [options]="moveTypes"
        [selectedOption]="contributedNode.parameters.moveType"
        bindValue="value"
        (selectionChange)="setMoveType($event.value)"
        data-testid="move-type-dropdown"
    >
    </ur-dropdown>

    <ur-tab-input
        *ngIf="tabinputValue()"
        [label]="
            (contributedNode.parameters.point.selectedType === 'VALUE'
                ? 'presenter.move-to.label.name'
                : contributedNode.parameters.point.selectedType === 'VARIABLE'
                ? 'presenter.move-to.label.variable'
                : 'presenter.move-to.label.expression'
            ) | translate
        "
        [label]="'presenter.move-to.label.waypoint' | translate"
        [variables]="waypointVariables"
        [tabInputValue]="tabinputValue()"
        valueType="string"
        (valueChanged)="setPointType($event)"
        [validators]="[variableNameValidator]"
        [valid]="fieldValidation.point"
        data-testid="waypoint-variable-tabinput"
    ></ur-tab-input>

    <ng-container *ngIf="contributedNode.parameters.point.selectedType === 'VALUE'">
        <ur-button
            class="waypoint-button"
            [type]="fieldValidation.position ? 'filled' : 'invalid'"
            data-testid="set-edit-waypoint-button"
            (handleClick)="openMoveScreenClicked()"
        >
            {{
                (contributedNode.parameters.point.entity.position
                    ? 'presenter.move-to.label.edit_point'
                    : 'presenter.move-to.label.teach_point'
                ) | translate
            }}
        </ur-button>

        <ur-button
            class="waypoint-button"
            type="cta"
            data-testid="move-here-button"
            [disabled]="!contributedNode.parameters.point.entity.position"
            (handleClick)="openAutoMoveScreen()"
        >
            {{ 'presenter.move-to.label.move_here' | translate }}
        </ur-button>
    </ng-container>

    <ur-button
        (handleClick)="openAdvancedSettingsDialog()"
        data-testid="move-to-more-settings-button"
        [type]="advancedSettingsIsValid ? 'filled' : 'invalid'"
        icon="external-link"
    >
        {{ 'presenter.move-to.label.more' | translate }}</ur-button
    >
</div>
