@import '../../../styles.scss';

.app-header {
    padding: 0.5rem 1.5rem 1rem;
}

.app-section-input {
    padding: 0.5rem 1.5rem 1rem;
    width: 150px;
}

.app-section {
    padding: 0.5rem 1.5rem 1rem;
    width: 500px;
}

.button {
    padding-right: 1rem;
}
